.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  border: 1px solid #000;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px; /* 9 cells * 30px per cell */
  height: 270px; /* 9 cells * 30px per cell */
  background-color: #c0c0c0;
}

.cellStyle {
  width: 30px;
  height: 30px;
  background: url('../assets/images/icons.png') no-repeat;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

.cellStyle.blank {
  background: none;
}
